@media (min-width: 300px) and (max-width: 400px) {


    html, body {
        min-width: 300px;
        overflow-x: hidden; /* Ukrywa pasek przewijania po osiągnięciu minimalnej szerokości */
    }


  


    
   
   
 .collage{
    height: 100vh;
    background-size: 100%;
    background-position: center 20%;
   
 }

 .collage p {
    font-size:17px;
    margin-bottom: 500px;
 }
    



    .pierwszy-kafelek{

      
        margin-left: 4vw;
        visibility: hidden;
        transition: visibility 0s, opacity 0.5s ease-in-out;
        opacity: 0; /* Dodanie animacji zanikania */
        cursor: pointer;
    }

  
    img.pierwszy-kafelek{

        max-height: 50px;
      
    }

    .przeswit{
        display: none;
    }

    
    /*ikonka menu*/
    .przycisk_menu span{
        font-size: 18px;
    }


    
    /*                                 MENU 2                                     */
    
    
  
    .menu_rozwijane a{
        font-size:16px;
        transition: font-size 0.8s; 
    }


    div.oleanpiada {
        
        height: fit-content !important;
        padding: 30px 0 !important;
        background-repeat: repeat !important;
        background-size:100% !important;
        
    }
    
    div.oleanpiada p {
        font-size: 0.8rem;
        padding: 0 15vw;
        margin: 0; /* Usunięcie marginesu domyślnego */
        margin-left: 40px !important;
    }



    p.text{

        height: 120px;
        padding:30px 40px;
        
        width: 70% !important;
    
        font-size: 13px !important;
        
    
        background-color: #62CACA;
        border-radius: 20px;
    }

   
   
    /*                                   Stopka                                     */
   

    footer{
        flex-direction: column;
        text-align: center;
    }

    .grant p{
        font-size: 12px;
    }



    .partners{

        flex-direction: column;
    }


    .partner h3, 
    .glowny_partner h3{
        font-size: 14px;
    }


    /* INFORMACJE */

    .informacje{
        height: 120vh !important;
        background-color: white;
        padding-top: 0px !important;
        background-size:100%;
        background-position: bottom !important;
       
    
    }
    
    
    .when,
    .where,
    .who{
    
        display: flex;
        flex-direction: column;
        height: auto;
    
        padding-bottom: 5px;
    
        align-items: center;
       
        justify-content: center;
    }
    
    
    .when_graphic,
    .where_graphic,
    .who_graphic{
    
        display: flex;
        flex-direction: row;
    
        height: 70;
    
    
        align-items: center;
        text-align: center;    
        justify-content: center;
    
        padding: 10px 0 10px;
    
        background-color: rgba(255, 255, 255, 0.3);
        
    }

    .when_graphic span,
    .where_graphic span,
    .who_graphic span{
        padding:0 15px ;
        font-size: 50px;

        

    }



    p.text{

        height: fit-content !important;
        min-height: 100px;
        font-weight: bold;
        font-size: 20px !important;
        padding:15px !important;

    }

    .text:hover {
        transform: scale(1.05);
    }

    .where_graphic p,
    .who_graphic p,
    .when_graphic p{

        font-weight: bold;
        font-size: 1.1rem !important;

}



.doc {
    
    padding: 0 !important ;
    margin: 0!important;
    height:fit-content;
    min-height: fit-content;

    background-image: url(../grafika/naglowek2.png);
    background-repeat: no-repeat;
    background-size: 220%;

    /* Gradient maskujący górę i dół */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

ul.dokumenty_2 {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    list-style-type: none;
    padding: 0; 
    display: flex;
    flex-wrap: wrap; 
}

ul.dokumenty_2 li {
    padding: 10px 20px;
    border-radius: 12px;
    margin: 15px;
    width: auto; 
    max-width: none; 
    display: inline-block; 
}

ul.dokumenty_2 li a {
    font-weight: bolder;
    color: rgb(227, 64, 64);
    opacity: 1;
    line-height: 15px;
    font-size: 2.4rem;
    text-decoration: none; /* Usunięcie podkreślenia */
}

ul.dokumenty_2 li span{
    font-size: 40px;
}

ul.dokumenty_2 li :nth-child(4){
    margin-bottom: 50px;
}








}




@media (min-width: 401px) and (max-width: 650px) {


    
    .collage{
        height: 100vh;
        background-size: 100%;
        background-position: center 20%;
       
     }


     .collage p {
        font-size:17px;
        margin-bottom: 400px;
     }

     .pierwszy-kafelek{

      
        margin-left: 4vw;
        visibility: hidden;
        transition: visibility 0s, opacity 0.5s ease-in-out;
        opacity: 0; /* Dodanie animacji zanikania */
        cursor: pointer;
    }

  
    img.pierwszy-kafelek{

        max-height: 50px;
      
    }

    .przeswit{
        display: none;
    }
        
  

    #og{
        font-size: 20px;
    }
    


   
    /*                                   MENU                                       */
   
 
    
   

    /*ikonka menu*/
    .przycisk_menu span{
        font-size: 26px;
    }


    
    /*                                 MENU 2                                     */
   
    
    .menu_rozwijane a{
        font-size:18px;
        transition: font-size 0.8s; 
    }


     /* INFORMACJE */

     .informacje{
        height: 120vh !important;
        background-color: white;
        padding-top: 0px !important;
        background-size:100%;
        background-position: bottom !important;
       
    
    }


    div.oleanpiada {
        
        height: fit-content !important;
        padding: 30px 0 !important;
        background-repeat: repeat !important;
        background-size:100% !important;
        
    }
    
    div.oleanpiada p {
        font-size: 0.95rem !important;
        padding: 0 15vw;
        margin: 0; /* Usunięcie marginesu domyślnego */
        margin-left: 40px !important;
    }

    
    
    .when,
    .where,
    .who{
    
        display: flex;
        flex-direction: column;
        height: auto;
    
        padding-bottom: 5px;
    
        align-items: center;
       
        justify-content: center;
    }
    
    
    .when_graphic,
    .where_graphic,
    .who_graphic{
    
        display: flex;
        flex-direction: row;
    
        height: 70;
    
    
        align-items: center;
        text-align: center;    
        justify-content: center;
    
        padding: 10px 0 10px;
    
        background-color: rgba(255, 255, 255, 0.3);
        
    }

    .when_graphic span,
    .where_graphic span,
    .who_graphic span{
        padding:0 15px ;
        font-size: 50px;

        

    }



    p.text{

        height: fit-content !important;
        min-height: 100px;
        font-weight: bold;
        font-size: 20px !important;
        padding:15px !important;

    }

    .text:hover {
        transform: scale(1.05);
    }

    .where_graphic p,
    .who_graphic p,
    .when_graphic p{

        font-weight: bold;
        font-size: 1.1rem !important;

}


    
    .oleanpiada h3{

        font-size: 15px;
        text-align: center;
    }

    h3#final{

        font-size: 20px;
    
    
    }

    

    .grant p{
        font-size: 13px;
    }


    .partners{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
    

    .partner{
        margin-top: 30px;
    }


    .partner h3, 
    .glowny_partner h3{

    font-size: 16px;
}
   

}


@media (min-width: 651px) and (max-width: 900px) {


   
    /*                                   MENU                                       */


    .collage{
        height: 100vh;
        background-size: 100%;
        background-position: center 20%;
       
     }
    
     .collage p {
        font-size:17px;
        margin-bottom: 500px;
     }
        
    
    
    
        .pierwszy-kafelek{
    
          
            margin-left: 4vw;
            visibility: hidden;
            transition: visibility 0s, opacity 0.5s ease-in-out;
            opacity: 0; /* Dodanie animacji zanikania */
            cursor: pointer;
        }
    
      
        img.pierwszy-kafelek{
    
            max-height: 50px;
          
        }
    
        .przeswit{
            display: none;
        }
    
        
        /*ikonka menu*/
        .przycisk_menu span{
            font-size: 18px;
        }
    
    
        
        /*                                 MENU 2                                     */
        
        
      
        .menu_rozwijane a{
            font-size:16px;
            transition: font-size 0.8s; 
        }
    
    
        div.oleanpiada {
            
            height: fit-content !important;
            padding: 30px 0 !important;
            background-repeat: repeat !important;
            background-size:100% !important;
            
        }
        
        div.oleanpiada p {
            font-size: 0.8rem;
            padding: 0 15vw;
            margin: 0; /* Usunięcie marginesu domyślnego */
            margin-left: 40px !important;
        }
    
    
    
        p.text{
    
            height: 120px;
            padding:30px 40px;
            
            width: 70% !important;
        
            font-size: 13px !important;
            
        
            background-color: #62CACA;
            border-radius: 20px;
        }
    
   

    .sekcje li a{
        font-size:13px;
        transition: font-size 0.8s; 
    }


    .partners{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }

    .partner{
        margin-top: 50px;
    }
    

    .partner h3, 
    .glowny_partner h3{

    font-size: 18px;
}
   
}

@media (max-width: 650px) {
    
    .nawigacja .sekcje
  {
        display: none;
    }

    .nawigacja .przycisk_menu{
        display:block;
    }

    .menu_rozwijane{
     
        display:block;
    }

    
    .przycisk_menu{
        flex:1;
        text-align: right;
        padding-right: 35px;
        
    }

   

    .grant p{
        font-size: 14px;
    }
  
    .oleanpiada h3{

        font-size: 17px;
        text-align: center;
    }

    h3#final{

        font-size: 22px;
    
    
    }


   


}



@media screen and (max-width: 980px){
        
    ul li.INFO
    {
        display: block;
    }

    ul li.INFO a
    {
        display: block;
    }

    
    .loga{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .agh_logo,
    .sknz_logo,
    .faculty_logo{
        flex:1;
    }

    .loga_agh{
        display: flex;
        flex-direction: row;
    }

    
    .glowny_partner,
    .partner{
        flex: 1;
    }

    

img#faculty_logo,
img#sknz_logo{
    
    width: 60%;
   
}

img#partner,
img#glowny_partner{

    width: 50%;
}



img#agh_logo
{
    margin-top: 0px;
    width: 55%;
   
}

    article {
        
        min-height: fit-content;
       
    }

    .oleanpiada{
        padding: 0 40px !important; 
        
    }

    .oleanpiada p{
        font-size: 15px !important;
    
        line-height: 23px !important;
    }

    .oleanpiada h3{

        font-size: 17px;
        text-align: center;
    }



    

}


@media screen and (max-width:500px) and (pointer: coarse){

    
    body{
        margin-top: 150px;
        
    }


    
    
}

@media screen and (min-width:985px) and (max-width:1200){

    .partner h3, 
    .glowny_partner h3{

        font-size: 18px;
    }
}

