

.srodek
{
    margin:40px 0;
    display: flex;
    min-height: fit-content;
    flex-direction: column;


    
    
}


/*PODZIAŁ NA KOLUMNY STRONE*/


article {
    display: flex;
    flex-direction: column;
   
    margin: 10px;
    min-height: fit-content;
    flex: 1;
    box-sizing: border-box; /* Dodaj tę linijkę */
    background-color: #f8fafc;
    z-index: 0;
    overflow: hidden; /* Zapobiega poziomemu przewijaniu dla artykułów */
}




/*KALENDARZ*/
.calendar {
    width: 30% ;
    height: 65vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    margin-left:10vw;
    background-color: #e8edf3;
    
   
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
}

.monthYear {
    text-align: center;
    font-size: 2rem;
    width: 150px;
    color: #00BFB2;
    font-weight: 800;
}

.header button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    
}
.days {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.day
{
text-align: center;
padding: 5px;
color: #533e79;
font-weight:600;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    color: #0b958c;
    font-weight: bolder;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50px;
    width: 25px;
    height: 75px;
    transition: 0.2s;
}

.date:hover, .date.active {
    background:rgb(227, 64, 64);
    color: #fff;
    width: 25px; 
    height: 50px; 
    width: 50px;
}

.date.inactive {
color: black;
}

.date.inactive:hover {
    color: #fff;
}
.calendar .highlight {
    background-color: #efd075; 
    color: black; 
    width: 45px; 
    height: 45px;


}



.kontyner {
    display: flex;
    flex-direction: column; 
    height: fit-content;
}

.wydarzenia{
    display: flex;
    flex-direction: row; 
    margin: 0 auto;
}




h3, .dokumentacja h3{
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    /*padding-top: 20px;*/
    font-size: 25px;
}

.najwazniejsze_daty {
   
    justify-content: left;
    text-align: left;
    font-size: 25px;
    margin-left: 10px;
   
}

.daty li, .dokumentacja  li{
    justify-content: left;
    margin-left: 10px;
    list-style-type: disc;
    margin-bottom: 10px;
}

span.highlighted_date{
    color: #00788F;
    font-size: 17px;
    font-weight: bolder;
    
}
.dokumentacja {
    display: row;
    justify-content: left;
    text-align: left;
    font-size: 17px;
    margin-left: 10px;
}

.dokumenty li a{
   
    color: black;
    font-size: 17px;
    
}


.najwazniejsze_daty{
    min-width: 800px;
    max-width: 800px;
    margin :0 auto;

    align-items: center;
    justify-content: center;
}

.najwazniejsze_daty h3.year {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
}

.najwazniejsze_daty .event {
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
    background-color: red;
    min-height: fit-content;
    
}

.event .event_left {
    background: #00BFB2;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 16px 0px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.event .event_left .date {
    font-size: 56px;
}

.event .event_left .month {
    font-size: 16px;
    font-weight: normal;
}

.event .event_right{

    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
    background-color:  #e8edf3;
    padding: 16px 0 16px 20px;
   
    
}



.event .event_right h4.event_title {
    font-size: 26px;
    margin: 14px 0 10px 0;
    color:rgb(227, 64, 64);
    text-transform: uppercase;
    text-align: left; /* Wymusza wyrównanie tekstu do lewej */
}


.event .event_right .event_timing{
    background-color: #eee;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin:24px 0;
    font-size: 10px
}


div.evening_timing img{
    margin-top:10px;

    height:25px !important;
    padding-right: 8px;
}





/* dokumenty */

ul.dokumenty_2 li {
    display: flex; /* Ustawienie elementów w jednej linii */
    align-items: center; /* Wyrównanie pionowe do środka */
    margin-bottom: 15px; /* Dodanie odstępu między elementami */
}

ul.dokumenty_2 li a {
    text-decoration: none; /* Usunięcie podkreślenia z linków */
    color: black; /* Ustawienie koloru tekstu linku */
    margin-left: 10px; /* Odstęp między obrazkiem a tekstem */
    font-size: 16px; /* Ustawienie rozmiaru tekstu */
}

ul.dokumenty_2 li img {
    width: 40px; /* Ustawienie szerokości obrazka */
    height: auto; /* Automatyczna wysokość, aby zachować proporcje */
}








 /* RESPONSYWNOSC */

@media (min-width: 300px) and (max-width: 1000px) {
    
    #art1{
        display: flex;
        flex-direction: column;
    }

    .wydarzenia{
        flex-direction: column;
    }
    
    .srodek { 
        flex-direction: column;
        align-items: center;
      
    }
    .dokumentacja {
        display: none;
    }

    .calendar{
        margin-bottom: 250px;
    }

    .kontyner{
        width: 100vw;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0; /* Wyśrodkowanie w poziomie */
    }


    div.event{
        max-width: 90vw;
        justify-content: center;
        margin: 0 auto; /* Wyśrodkowanie w poziomie */

    }




        /*KALENDARZ*/
    .calendar {
        
        width: 80vw ;
        height: fit-content;
        padding: 10px;
        margin-bottom: 20px;
        margin-left:10vw;  
    
    }


    .header {
    
        padding: 4px 1px;
    }

    .monthYear {
        text-align: center;
        font-size: 1.2rem;
        width: max-content;
        color: #00BFB2;
        font-weight: 800;
    }

    .header button{
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        width: 30px;
        height: 30px;
        box-shadow: 0 0 4px rgba(0,0,0,0.2);
        
    }
    .days {
        display: grid;
        grid-template-columns: repeat(7,1fr);
    }

    .day
    {
    font-weight:300;
    }

    .date {
    
        font-size: 1rem;
        border-radius: 50px;
        height: 55px;
        transition: 0.2s;
    }

    .date:hover, .date.active {
    
        width: 25px; 
        height: 50px; 
        width: 50px;
    }

    .calendar .highlight {
        
        width: 25px; 
        height: 25px;


    }


    .najwazniejsze_daty{
        width: 100vw !important;
       
        margin: 0 auto;
    }

    .najwazniejsze_daty .event {
        border-radius: 8px;
        margin: 40px 5%;
        width: 80vw;
        
    }
   
   

    .event .event_left {
        padding: 0px 0px;
        border-radius: 8px 0 0 8px;
    }
    
    .event .event_left .date2 {
        font-size: 35px;
    }
    
    .event .event_left .month {
        font-size: 20px;
    
    }

    .event .event_right h4.event_title {
        font-size: 20px;
        margin: 14px 0 10px 0;
       
        text-align: center; 
        
    }

    .evening_timing,
    .event_description{
        padding-top: 10px;
         text-align: center; 
         font-size: 17px;
    }
    
    .event .event_right{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 0 0px;
    }
   
  
    
    div.evening_timing img{
        margin-top:10px;
    
        height:25px !important;
        padding-right: 0;
    }



    .doc {
       
        padding: 20px 0 70px;
        margin: 100px 80px;
       
        background-repeat:repeat !important;
        background-size: 550% !important;
    }
    
    ul.dokumenty_2 {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centruje zawartość */
        margin: 60px 20px 50px !important;
        min-height: 80vh;
        padding: 0; 
    }
    
    ul.dokumenty_2 li {
        padding: 20px; /* Więcej przestrzeni wewnętrznej */
        border-radius: 12px;
        margin: 30px; /* Większy odstęp między elementami */
        display: flex !important;
        flex-direction: column !important;
        align-items: center; /* Centruje tekst i ikonę */
        min-height: fit-content !important;
        text-align: center;
    }
    
    ul.dokumenty_2 li a {
        opacity: 1;
        line-height: 1.6 !important; 
        font-size: 2.4rem;
        
        min-height: fit-content !important;
        margin-top: 10px; 
    }
    
    ul.dokumenty_2 li span {
        font-size: 80px; 
        margin-bottom: 10px; 
    }
    
    /* Dodatkowy odstęp dla ostatniego elementu */
    ul.dokumenty_2 li:last-child {
        margin-bottom: 50px;
    }
    
    

}






@media (min-width:1001px) and ( max-width: 1250px){
    .calendar {
        padding: 5px; 
        height: 240px;
    }

    .monthYear {
        font-size: 1em; 
    }

    .day {
        font-size: 0.9em; 
    }

    .date {
        font-size: 0.9em; 
        width: 20px; 
        height: 20px; 
    }

    .highlight {
        font-size: 1em; 
}
.date:hover, 
    .date.active {
        width: 20px; 
        height: 20px; 
    }
    .calendar .highlight {
        width: 20px;
        height: 20px;
    }
}


article#art1{

    width:100%;
   
    padding-top: 200px;
}



