@media (min-width: 300px) and (max-width: 400px) {


    html, body {
        min-width: 300px;
        overflow-x: hidden; /* Ukrywa pasek przewijania po osiągnięciu minimalnej szerokości */
    }


    .collage{
        height: 100px;
    }
    div.collage{

        background-size: auto 100px;
     
    }

    #og{
        font-size: 20px;
    }
    

    
    /*                                   MENU                                       */
    
   
 
    
    /*ikonka menu*/
    .przycisk_menu span{
        font-size: 18px;
    }


    
    /*                                 MENU 2                                     */
    
    
  
    .menu_rozwijane a{
        font-size:16px;
        transition: font-size 0.8s; 
    }


   
    
   
    /*                                   Stopka                                     */
   

    footer{
        flex-direction: column;
        text-align: center;
    }

    .grant p{
        font-size: 12px;
    }


}

@media (min-width: 401px) and (max-width: 650px) {


    
    .collage{
        height: 115px;
    }
    div.collage{
   
        background-size: auto 115px;
    
    }

    #og{
        font-size: 20px;
    }
    


   
    /*                                   MENU                                       */
   
 
    
   

    /*ikonka menu*/
    .przycisk_menu span{
        font-size: 26px;
    }


    
    /*                                 MENU 2                                     */
   
    
    .menu_rozwijane a{
        font-size:18px;
        transition: font-size 0.8s; 
    }
    

    .grant p{
        font-size: 13px;
    }

   

}


@media (min-width: 651px) and (max-width: 900px) {


   
    /*                                   MENU                                       */
   

    .sekcje li a{
        font-size:13px;
        transition: font-size 0.8s; 
    }
   
}

@media (max-width: 650px) {
    
   

    .nawigacja .przycisk_menu{
        display:block;
    }

    .menu_rozwijane{
     
        display:block;
    }

    
    .przycisk_menu{
        flex:1;
        text-align: right;
        padding-right: 35px;
        
    }

   

    .grant p{
        font-size: 14px;
    }
  

}



@media screen and (max-width: 980px){
        
    ul li.INFO
    {
        display: block;
    }

    ul li.INFO a
    {
        display: block;
    }

    
    .loga{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
    }

    .agh_logo,
    .sknz_logo,
    .faculty_logo{
        flex:1;
    }


    

img#faculty_logo,
img#sknz_logo{
    
    width: 60%;
   
}


img#agh_logo
{
    margin-top: 0px;
    width: 55%;
   
}

    article {
        
        min-height: fit-content;
       
    }

    .oleanpiada{
        padding: 0 40px !important; 
        
    }

    .oleanpiada p{
        font-size: 15px !important;
    
        line-height: 23px !important;
    }


    

}


@media screen and (max-width:500px) and (pointer: coarse){

    
    body{
        margin-top: 150px;
        
    }
    
}
